<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DevZinho</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="https://devzinho.com/public/template/assets/brand/devzinho.svg" rel="icon">
    <link href="https://devzinho.com/public/template/assets/brand/devzinho.svg" rel="apple-touch-icon">

    <!--getbootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!--VUE-->
    <script src="https://unpkg.com/vue@next"></script>

    <!--sweetalert2-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.9/dist/sweetalert2.all.min.js"></script>

    <!-- AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body class="bg-light">
    <div id="app">
        <div class="container">
            <main>
                <div class="py-5 text-center">
                    <img class="d-block mx-auto mb-4"
                        src="https://devzinho.com/public/template/assets/brand/devzinho.svg" alt="" width="72"
                        height="57">
                    <h2>DevZinho</h2>
                    <p class="lead">Make good use of our newest Vue.js project start
                    </p>
                </div>

                <div class="row">
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-10">
                        <h4 class="mb-3">String list</h4>
                        <form>
                            <div class="row g-3">
                                <div class="col-sm-10">
                                    <label for="firstName" class="form-label">write something:</label>
                                    <input type="text" class="form-control" placeholder="Hello World" v-model="name">
                                </div>
                                <div class="col-sm-2 text-center" style="margin-top: 29px;">
                                    <button type="button" class="btn btn-primary" @click="add" :disabled="!name">
                                        <b>+</b>
                                    </button>
                                    <button type="button" class="btn btn-danger" title="delete all" @click="delet()"
                                        :disabled="!items.length">
                                        <i class="bi bi-bucket-fill"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-1">
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-10">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">id</th>
                                    <th scope="col">string list</th>
                                    <th scope="col">edit</th>
                                    <th scope="col">delet</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(it, i) in items" :key="i">
                                    <th scope="row">{{i+1}}°</th>
                                    <td>{{it.name}}</td>
                                    <td><button type="button" class="btn btn-sm  btn-primary" @click="edit(i)">
                                            <i class="bi bi-brush-fill"></i>
                                        </button>
                                    </td>
                                    <td><button v-if="items.length>1" type="button" class="btn btn-sm btn-danger"
                                            @click="deletItem(i)">
                                            <i class="bi bi-bucket-fill"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-1">
                    </div>
                </div>
            </main>

            <footer class="my-5 pt-5 text-muted text-center text-small">
                <p class="mb-1">&copy; 2022 DevZinho</p>
            </footer>
        </div>

    </div>
</body>

</html>

<script>
    const app = {
        data() {
            return {
                id: null,
                items: [],
                name: null
            }
        },
        methods: {
            clear() {
                this.name = null;
            },
            add() {
                this.items.push({ name: this.name });
                if (!this.id) this.save();
                else this.update();
                this.clear();
            },
            save() {
                axios({
                    method: 'POST',
                    url: 'http://api.devzinho.com/api/store',
                    data: {
                        key: 'ada48337dca3139385dbc7a76017e563',
                        data: this.items,
                    },
                    headers: { "content-type": "application/json" },
                }).then(
                    (response) => {
                        this.getData();
                        this.clear();
                        Swal.fire("Success!", "Successfully added to list.", "success");
                    },
                    (error) => {
                        console.log(error);
                    }
                );
            },
            update() {
                axios({
                    method: 'PUT',
                    url: 'http://api.devzinho.com/api/update/ada48337dca3139385dbc7a76017e563',
                    data: {
                        id: this.id,
                        data: this.items,
                    },
                    headers: { "content-type": "application/json" },
                }).then(
                    (response) => {
                        this.getData();
                        this.clear();
                        Swal.fire("Success!", "List updated successfully.", "success");
                    },
                    (error) => {
                        console.log(error);
                    }
                );
            },
            edit(index) {
                this.name = this.items[index].name;
                this.items.splice(index, 1)
            },
            delet(index) {
                Swal.fire({
                    title: "Deletar?",
                    text: "Não poderá ser recuperado, deseja continuar?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Sim",
                    cancelButtonText: "Não",
                }).then((result) => {
                    if (result.isConfirmed) {
                        axios
                            .delete('http://api.devzinho.com/api/destroy/ada48337dca3139385dbc7a76017e563')
                            .then((response) => {
                                this.getData();
                                Swal.fire("Deletado com sucesso!", "", "success");
                            })
                            .catch((error) => {
                                Swal.fire("Erro!", "Não foi possível deletar!", "error");
                            });
                    }
                });
            },
            deletItem(index) {
                Swal.fire({
                    title: "Deletar?",
                    text: "Não poderá ser recuperado, deseja continuar?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Sim",
                    cancelButtonText: "Não",
                }).then((result) => {
                    if (result.isConfirmed) {
                        if (~index)
                            this.items.splice(index, 1)
                        this.update();
                    }
                });
            },
            getData() {
                axios
                    .get('http://api.devzinho.com/api/edit/ada48337dca3139385dbc7a76017e563')
                    .then((response) => {
                        this.id = null;
                        this.items = [];
                        if (response.data) {
                            this.id = response.data[0].id;
                            this.items = response.data[0].json;
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
        },
        beforeMount() {
            this.getData();
        },
    }
    Vue.createApp(app).mount('#app');
</script>